# Created by .ignore support plugin (hsz.mobi)
**/.idea/*
.DS_Store
**/.ipynb_checkpoints/*
mch_categories.tsv
products.txt
transactions.txt
platform-take-home-test.pdf
ld-ds-take-home-service-account.json